.marker-animation {
    display: inline;
    background-position: left -100% bottom 0;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #ff6 50%);
    background-size: 200% .6em;
    font-weight: bold;
    transition: background-position 2s ease .1s;
    padding-bottom: .1em;
}